@font-face {
  font-family: Mulish;
  src: url("../assets/fonts/Mulish-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: Mulish;
  src: url("../assets/fonts/Mulish-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: Mulish;
  src: url("../assets/fonts/Mulish-Bold.woff");
  font-weight: 700;
}

body {
  font-family: Mulish;
}
